#background-img {
  /* position:fixed; */
  position: relative;
  width: 100%;
  z-index: -100;
}

div {
  margin: 0;
  padding: 0;
  /* border:1px black solid; */
}

/* ------------------------------
Asides
--------------------------------*/
#spacer-row {
  height: 25px;
}

.suit {
  width: 100%;
  margin: auto;
  text-align: center;
}

/* ------------------------------
Aside - Instructions
--------------------------------*/
#instructions {
  color: white;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 5%;
  padding: 15px;
}

#instructions h1 {
  font-size: 30px;
  text-align: center;
  font-style: italic;
}

#instructions ul {
  list-style-type: circle;
}

#suit-diamond {
  float: right;
}

#suit-club {
  float: left;
}

/* ------------------------------
Aside - Scoreboard
--------------------------------*/
#scoreboard {
  color: white;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 5%;
  padding: 15px;
}

#scoreboard h1 {
  font-size: 30px;
  text-align: center;
  font-style: italic;
}

#suit-heart {
  float: right;
}

#suit-spade {
  float: left;
}

/* ------------------------------
Section - Cards
--------------------------------*/
section {
  margin-top: 60px;
}

.card {
  width: 150px;
}

#spade {
  transform: rotate(-50deg);
  float: right;
}

#heart {
  transform: rotate(-20deg);
  float: right;
}

#club {
  transform: rotate(20deg);
}

#diamond {
  transform: rotate(50deg);
}

#your-number{
  color:red;
  font-size:20px;
  font-weight: 700;
}

#random-number{
  color:black;
  font-size:20px;
  font-weight: 700;
}

/* ------------------------------
FOOTER 
--------------------------------*/

footer {
  background-color: rgba(48, 47, 41, 0.9);
  height: 70px;
  position: relative;
  border-top: 3px green solid;
  bottom: 0;
  margin-top: 100px;
}

footer img {
  width: 40px;
  text-align: center;
  margin: auto;
  position: relative;
}

.footer-container {
  text-align: center;
}

#github {
  border-radius: 50%;
  margin: 10px;
}

#linkedin {
  border-radius: 6%;
  margin: 10px;
  width: 35px;
}

#gmail {
  border-radius: 5%;
  margin: 10px;
  margin-bottom: 10px;
  width: 35px;
}
